[Unit]
Description=LiveMedia MHWD Script
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mhwd-live

[Install]
WantedBy=multi-user.target
